<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="vue-app">
    <h1> v-for 循环</h1>
    <!--通过数组下标来获取-->
    <!--{{characters[0]}}-->
    <!--{{characters[1]}}-->
    <!--{{characters[2]}}-->

    <!--数组遍历-->
    <ul>
        <li v-for="character in characters">
            {{character}}
        </li>
    </ul>

    <!--数组遍历对象-->
    <ul>
        <li v-for="(user,index) in person">
            {{index+1}}.{{user.name}} - {{user.age}}
        </li>
    </ul>
    <div v-for="(user,index) in person">
        <h3>{{index+1}}. {{user.name}}</h3>
        <p>age - {{user.age}}</p>
    </div>
    <!--template 对div进行优化-->
    <template v-for="(user,index) in person">
        <h3>{{index+1}}. {{user.name}}</h3>
        <p>age - {{user.age}}</p>
    </template>

    <template v-for="(user,index) in person">
        <div v-for="(key , val) in user">
            <p>{{key}}- {{val}}</p>
        </div>
    </template>
</div>
<script src="js/v-for.js"></script>
</body>
</html>